# Results

In [1]:
import pandas as pd

In [2]:
RESULTS_PATH = '../results/errors/'

In [6]:
def get_error_table(data_frame, LEVELS):
    errors = data_frame.groupby(by=['error_metric', 'level']).mean().reset_index().round(2)
    errors = pd.pivot(errors, values ='error', columns='error_metric', index='level')
    errors.index = LEVELS
    overall_error = data_frame.groupby(by='error_metric').mean()[['error']].transpose()
    overall_error.index = ['Overall']
    return errors.append(overall_error)

## PRISON DATASET

### ARIMA

In [14]:
# read error metrics
LEVELS = ['Australia', 'State', 'Gender', 'Legal', 'Indigenous']
data = 'prison'
model ='arima'
file_name = f'{data}_{model}'

base_forecast = pd.read_csv(f'{RESULTS_PATH}{file_name}_base_errors.csv', index_col=0)
adjusted_forecast_ml = pd.read_csv(f'{RESULTS_PATH}{file_name}_adjusted_errors.csv', index_col=0)
adjusted_forecast_ml_hf_val_loss = pd.read_csv(f'{RESULTS_PATH}{file_name}_hf_val_loss_errors.csv', index_col=0)

In [15]:
base_arima_errors = get_error_table(base_forecast, LEVELS)
base_arima_errors

error_metric         MAE           MSE      SMAPE
Australia     505.960000  424138.76000   1.330000
State         369.950000  385049.52000   7.930000
Gender        187.610000  148874.19000  11.220000
Legal         111.090000   48125.76000  17.650000
Indigenous     59.630000   18835.82000  21.900000
Overall       114.369513   71339.16256  18.270642

In [19]:
adjusted_ml_errors = get_error_table(adjusted_forecast_ml, LEVELS)
adjusted_forecast_ml_hf_val_loss_errors = get_error_table(adjusted_forecast_ml_hf_val_loss, LEVELS)

In [20]:
pc_improvement = (base_arima_errors - adjusted_ml_errors)/base_arima_errors*100
pc_improvement

error_metric         MAE         MSE       SMAPE
Australia    -174.756898 -622.336169 -179.699248
State          12.985539   14.292559    7.944515
Gender         10.500506   10.937443   -0.356506
Legal           2.430462   -1.613065   -1.813031
Indigenous      2.783834    6.945543    1.917808
Overall         0.058185  -21.778018    0.850431

In [21]:
pc_improvement_hf_val_loss = (base_arima_errors - adjusted_forecast_ml_hf_val_loss_errors)/base_arima_errors*100
pc_improvement_hf_val_loss

error_metric         MAE         MSE       SMAPE
Australia    -220.288165 -836.095253 -227.067669
State          13.966752   14.372837   -6.305170
Gender         12.403390   12.183986  -57.575758
Legal           1.656315   -4.502931  -46.685552
Indigenous      2.096260    5.090461  -47.168950
Overall        -1.372317  -32.683167  -46.827007

## TOURISM DATASET

### ARIMA

In [22]:
# read error metrics
LEVELS = ['Australia', 'States', 'Region']
data = 'tourism'
model ='arima'
file_name = f'{data}_{model}'

base_forecast = pd.read_csv(f'{RESULTS_PATH}{file_name}_base_errors.csv', index_col=0)
adjusted_forecast_ml = pd.read_csv(f'{RESULTS_PATH}{file_name}_adjusted_errors.csv', index_col=0)
adjusted_forecast_ml_hf_val_loss = pd.read_csv(f'{RESULTS_PATH}{file_name}_hf_val_loss_errors.csv', index_col=0)

In [23]:
base_arima_errors = get_error_table(base_forecast, LEVELS)
base_arima_errors

error_metric         MAE           MSE      SMAPE
Australia     2373.12000  7.695576e+06   7.050000
States         581.33000  6.828705e+05  16.330000
Region         101.65000  2.972409e+04  34.470000
Overall        167.87231  1.736991e+05  32.657646

In [24]:
adjusted_ml_errors = get_error_table(adjusted_forecast_ml, LEVELS)
adjusted_forecast_ml_hf_val_loss_errors = get_error_table(adjusted_forecast_ml_hf_val_loss, LEVELS)

In [25]:
pc_improvement = (base_arima_errors - adjusted_ml_errors)/base_arima_errors*100
pc_improvement

error_metric        MAE         MSE      SMAPE
Australia    -73.446770 -167.651736 -77.730496
States        -9.144548  -14.150092   9.430496
Region         4.879488    9.356249   5.192921
Overall      -12.150417  -90.514958   5.182218

In [26]:
pc_improvement_hf_val_loss = (base_arima_errors - adjusted_forecast_ml_hf_val_loss_errors)/base_arima_errors*100
pc_improvement_hf_val_loss

error_metric        MAE        MSE      SMAPE
Australia    -36.933236 -72.816230 -38.581560
States         6.961622  15.078308  19.350888
Region         6.335465  13.827639   5.076878
Overall       -0.685633 -30.928334   5.552333