# Results

In the below tables summarise the results for each dataset. 


The following represent the scenarios considered for the ML reconciliation approach:

```
CASE1 - When the validation loss considers only the bottom level time series

CASE2 - When the validation loss considers the entire hierarchy

```

For each CASE1 and CASE2 3 different lambda configurations are carried out as below:

```
lambda - [0.0001, 0.1] 

Lambda1 - lambda == 1

Lambda2 - lambda [1.1, 5]
```

The median and mean across 5 different seeds are reported.


```
Example naming convention:

ML_CASE1 - This is CASE1 lambda median forecasts

ML_CASE1_MEAN - This is CASE1 lambda mean forecasts

ML_CASE1_Lambda1 - This is CASE1 Lambda1 median forecasts

ML_CASE1_Lambda1_MEAN - This is CASE1 Lambda1 mean forecasts
```


The results are also shown for full forecast horizon and half forecast horizon.

In [1]:
import pandas as pd

In [2]:
RESULTS_PATH = '../results/errors/'

In [3]:
def get_error_table(data_frame, LEVELS):
    errors = data_frame.groupby(by=['error_metric', 'level']).mean().reset_index().round(2)
    errors = pd.pivot(errors, values ='error', columns='error_metric', index='level')
    errors.index = LEVELS
    overall_error = data_frame.groupby(by='error_metric').mean()[['error']].transpose()
    overall_error.index = ['Overall']
    return errors.append(overall_error).round(2)

In [4]:
def get_percentage_improvement(base_df, approach_df):
    return (base_df - approach_df)/base_df*100

In [5]:
def get_results(data, model, LEVELS, FC_TYPES, column_order, short_horizon = False):
    column_names = {
        'base': 'BASE',
        'case1': 'ML_CASE1',
        'case1_mean': 'ML_CASE1_MEAN',
        'case1_lambda1': 'ML_CASE1_Lambda1',
        'case1_lambda1_mean': 'ML_CASE1_Lambda1_MEAN',
        'case1_lambda2': 'ML_CASE1_Lambda2',
        'case1_lambda2_mean': 'ML_CASE1_Lambda2_MEAN',
        'case1_one_seed': 'ML_CASE1_ONE_SEED',
        'case2': 'ML_CASE2',
        'case2_mean': 'ML_CASE2_MEAN',
        'case2_lambda1': 'ML_CASE2_Lambda1',
        'case2_lambda1_mean': 'ML_CASE2_Lambda1_MEAN',
        'case2_lambda2': 'ML_CASE2_Lambda2',
        'case2_lambda2_mean': 'ML_CASE2_Lambda2_MEAN',
        'case3': 'ML_CASE3',
        'case4': 'ML_CASE4',
        'bottomup': 'BU',
        'ols': 'OLS',
        'wls': 'WLS',
        'mintsample': 'MinT(Sample)',
        'mintshrink': 'MinT(Shrink)',
        'erm': 'ERM',
        'seeds_prev_params': 'PREV_PARAMS_SEEDS',
        'one_seed_prev_params': 'PREV_PARAMS_ONE_SEED',
        'seeds_prev_params_mean': 'PREV_PARAMS_SEEDS_MEAN'
    }
    
    error_dic = {}
    error_tables = {}
    error_percentages = {}
    final_percentage_tables = {}
    
    for fc_type in FC_TYPE:
        file_name = f'{data}_{model}'
        if short_horizon:
            file_name = f'{file_name}_short_horizon'
        error_dic[column_names[fc_type]] = pd.read_csv(f'{RESULTS_PATH}{file_name}_{fc_type}_errors.csv', index_col=0)
        
    for fc_name, error_df in error_dic.items():
        error_tables[fc_name] = get_error_table(error_df, LEVELS)
        
    for fc_name, error_df in error_tables.items():
        error_percentages[fc_name] = get_percentage_improvement(error_tables['BASE'], error_df)
        
    for error_metric in ['MSE', 'MAE', 'SMAPE']:
        dataframe_error = []
        for fc_name, error_df in error_percentages.items():
            if fc_name =='BASE':
                continue
            error_metric_percentages = error_df[[error_metric]]
            error_metric_percentages.columns = [fc_name]
            dataframe_error.append(error_metric_percentages)
        final_percentage_tables[error_metric] = pd.concat(dataframe_error, axis=1)[column_order]
        
    return error_tables['BASE'], final_percentage_tables

## New Results

## Prison

In [6]:
LEVELS_prison = ['Australia', 'State', 'Gender', 'Legal', 'Indigenous']
data_prison = 'prison'
FC_TYPE = ['base', 'bottomup', 'ols', 'wls', 'mintshrink', 'erm',
               'case1', 'case1_mean', 'case1_lambda1', 'case1_lambda1_mean', 'case1_lambda2', 'case1_lambda2_mean',
               'case2', 'case2_mean', 'case2_lambda1', 'case2_lambda1_mean', 'case2_lambda2', 'case2_lambda2_mean']
column_order_1 = ['BU', 'OLS', 'WLS', 'MinT(Shrink)', 'ERM', 'ML_CASE1', 'ML_CASE1_MEAN',
                 'ML_CASE1_Lambda1','ML_CASE1_Lambda1_MEAN','ML_CASE1_Lambda2','ML_CASE1_Lambda2_MEAN',
                  'ML_CASE2','ML_CASE2_MEAN','ML_CASE2_Lambda1','ML_CASE2_Lambda1_MEAN',
                  'ML_CASE2_Lambda2', 'ML_CASE2_Lambda2_MEAN']

model_arima ='arima'
base_errors_prison_arima, percentages_prison_arima = get_results(data_prison, model_arima, LEVELS_prison, FC_TYPE, column_order_1)

CASE 1: Only bottom level validation loss
CASE 2: Whole hierarchy validation loss

Lambda [0.0001, 0.1] 

Lambda1 -- Lambda =1

Lambda2 -- Lambda [1.1, 5]

In [17]:
percentages_prison_arima['MSE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [19]:
percentages_prison_arima['MSE'].iloc[:, 5:].style.highlight_max(color = 'lightgreen', axis = 1)

In [18]:
model_ets ='ets'
base_errors_prison_ets, percentages_prison_ets = get_results(data_prison, model_ets, LEVELS_prison, FC_TYPE, column_order_1)
percentages_prison_ets['MSE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [21]:
percentages_prison_ets['MSE'].iloc[:, 5:].style.highlight_max(color = 'lightgreen', axis = 1)

Short horizon

In [22]:
model_arima ='arima'
base_errors_prison_arima, percentages_prison_arima = get_results(data_prison, model_arima, LEVELS_prison, FC_TYPE, column_order_1, True)

In [23]:
percentages_prison_arima['MSE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [24]:
percentages_prison_arima['MSE'].iloc[:, 5:].style.highlight_max(color = 'lightgreen', axis = 1)

In [25]:
model_ets ='ets'
base_errors_prison_ets, percentages_prison_ets = get_results(data_prison, model_ets, LEVELS_prison, FC_TYPE, column_order_1,
                                                            True)
percentages_prison_ets['MSE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [26]:
percentages_prison_ets['MSE'].iloc[:, 5:].style.highlight_max(color = 'lightgreen', axis = 1)

## Tourism

In [27]:
LEVELS_tourism = ['Australia', 'States', 'Regions']
data_tourism = 'tourism'

FC_TYPE = ['base', 'bottomup', 'ols', 'wls', 'mintsample', 'mintshrink', 'erm',
               'case1', 'case1_mean', 'case1_lambda1', 'case1_lambda1_mean', 'case1_lambda2', 'case1_lambda2_mean',
               'case2', 'case2_mean', 'case2_lambda1', 'case2_lambda1_mean', 'case2_lambda2', 'case2_lambda2_mean']
column_order_1 = ['BU', 'OLS', 'WLS', 'MinT(Sample)','MinT(Shrink)', 'ERM', 'ML_CASE1', 'ML_CASE1_MEAN',
                 'ML_CASE1_Lambda1','ML_CASE1_Lambda1_MEAN','ML_CASE1_Lambda2','ML_CASE1_Lambda2_MEAN',
                  'ML_CASE2','ML_CASE2_MEAN','ML_CASE2_Lambda1','ML_CASE2_Lambda1_MEAN',
                  'ML_CASE2_Lambda2', 'ML_CASE2_Lambda2_MEAN',]


model_arima ='arima'
base_errors_tourism_arima, percentages_tourism_arima = get_results(data_tourism, model_arima, LEVELS_tourism, FC_TYPE, column_order_1)

In [28]:
percentages_tourism_arima ['MSE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [30]:
percentages_tourism_arima ['MSE'].iloc[:, 6:].style.highlight_max(color = 'lightgreen', axis = 1)

In [32]:
model_ets ='ets'
base_errors_tourism_ets, percentages_tourism_ets = get_results(data_tourism, model_ets, LEVELS_tourism, FC_TYPE, column_order_1)

In [33]:
percentages_tourism_ets['MSE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [34]:
percentages_tourism_ets['MSE'].iloc[:, 6:].style.highlight_max(color = 'lightgreen', axis = 1)

Short Horizon

In [35]:
base_errors_tourism_arima, percentages_tourism_arima = get_results(data_tourism, model_arima, LEVELS_tourism, FC_TYPE, 
                                                                   column_order_1, True)

In [36]:
percentages_tourism_arima ['MSE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [37]:
model_ets ='ets'
base_errors_tourism_ets, percentages_tourism_ets = get_results(data_tourism, model_ets, LEVELS_tourism, FC_TYPE, column_order_1,
                                                              True)
percentages_tourism_ets['MSE'].style.highlight_max(color = 'lightgreen', axis = 1)

## Wikipedia

In [38]:
LEVELS_wiki = ['Total', 'Language', 'Access', 'Agent', 'Article']

data_wiki = 'wikipedia'
FC_TYPE = ['base', 'bottomup', 'ols', 'wls', 'mintshrink', 'erm',
               'case1', 'case1_mean', 'case1_lambda1', 'case1_lambda1_mean', 'case1_lambda2', 'case1_lambda2_mean',
               'case2', 'case2_mean', 'case2_lambda1', 'case2_lambda1_mean', 'case2_lambda2', 'case2_lambda2_mean']
column_order_1 = ['BU', 'OLS', 'WLS', 'MinT(Shrink)', 'ERM', 'ML_CASE1', 'ML_CASE1_MEAN',
                 'ML_CASE1_Lambda1','ML_CASE1_Lambda1_MEAN','ML_CASE1_Lambda2','ML_CASE1_Lambda2_MEAN',
                  'ML_CASE2','ML_CASE2_MEAN','ML_CASE2_Lambda1','ML_CASE2_Lambda1_MEAN',
                  'ML_CASE2_Lambda2', 'ML_CASE2_Lambda2_MEAN']

model_arima ='arima'
base_errors_wiki_arima, percentages_wiki_arima = get_results(data_wiki, model_arima, LEVELS_wiki, FC_TYPE, column_order_1)

In [39]:
percentages_wiki_arima ['MSE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [40]:
model_ets ='ets'
base_errors_wiki_ets, percentages_wiki_ets = get_results(data_wiki, model_ets, LEVELS_wiki, FC_TYPE, column_order_1)
percentages_wiki_ets ['MSE'].style.highlight_max(color = 'lightgreen', axis = 1)

Short Horizon

In [41]:
model_arima ='arima'
base_errors_wiki_arima, percentages_wiki_arima = get_results(data_wiki, model_arima, LEVELS_wiki, FC_TYPE, 
                                                             column_order_1, True)

percentages_wiki_arima ['MSE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [42]:
model_ets ='ets'
base_errors_wiki_ets, percentages_wiki_ets = get_results(data_wiki, model_ets, LEVELS_wiki, FC_TYPE, 
                                                         column_order_1, True)
percentages_wiki_ets ['MSE'].style.highlight_max(color = 'lightgreen', axis = 1)