# Results

In [35]:
import pandas as pd

In [36]:
RESULTS_PATH = '../results/errors/'

In [37]:
def get_error_table(data_frame, LEVELS):
    errors = data_frame.groupby(by=['error_metric', 'level']).mean().reset_index().round(2)
    errors = pd.pivot(errors, values ='error', columns='error_metric', index='level')
    errors.index = LEVELS
    overall_error = data_frame.groupby(by='error_metric').mean()[['error']].transpose()
    overall_error.index = ['Overall']
    return errors.append(overall_error).round(2)

In [38]:
def get_percentage_improvement(base_df, approach_df):
    return (base_df - approach_df)/base_df*100

In [39]:
def get_results(data, model, LEVELS, compare_prev_params = False):
    file_name = f'{data}_{model}'
    FC_TYPE = ['base', 'case1', 'case2', 'case3', 'case4', 'bottomup', 'ols', 'wls', 'mintsample', 'mintshrink', 'erm']
    column_names = {
        'base': 'BASE',
        'case1': 'ML_CASE1', 
        'case2': 'ML_CASE2',
        'case3': 'ML_CASE3',
        'case4': 'ML_CASE4',
        'bottomup': 'BU',
        'ols': 'OLS',
        'wls': 'WLS',
        'mintsample': 'MinT(Sample)',
        'mintshrink': 'MinT(Shrink)',
        'erm': 'ERM'
    }
    column_order_1 = ['BU', 'OLS', 'WLS', 'MinT(Shrink)', 'ERM', 'ML_CASE1', 'ML_CASE2', 'ML_CASE3', 'ML_CASE4']
    column_order_2 = ['BU', 'OLS', 'WLS', 'MinT(Sample)', 'MinT(Shrink)', 'ERM', 'ML_CASE1', 'ML_CASE2', 'ML_CASE3', 'ML_CASE4']
    
    if compare_prev_params:
        FC_TYPE.append('prev_params')
        column_names['prev_params'] = 'PREV_PARAMS'
        column_order_1.insert(6, 'PREV_PARAMS')
        column_order_2.insert(7, 'PREV_PARAMS')
    
    error_dic = {}
    error_tables = {}
    error_percentages = {}
    final_percentage_tables = {}
    
    for fc_type in FC_TYPE:
        if data == 'prison' and fc_type =='mintsample':
            continue
        error_dic[column_names[fc_type]] = pd.read_csv(f'{RESULTS_PATH}{file_name}_{fc_type}_errors.csv', index_col=0)
        
    for fc_name, error_df in error_dic.items():
        error_tables[fc_name] = get_error_table(error_df, LEVELS)
        
    for fc_name, error_df in error_tables.items():
        error_percentages[fc_name] = get_percentage_improvement(error_tables['BASE'], error_df)
        
    for error_metric in ['MSE', 'MAE', 'SMAPE']:
        dataframe_error = []
        for fc_name, error_df in error_percentages.items():
            if fc_name =='BASE':
                continue
            error_metric_percentages = error_df[[error_metric]]
            error_metric_percentages.columns = [fc_name]
            dataframe_error.append(error_metric_percentages)
        if data == 'prison':
            column_order = column_order_1
        else:
            column_order = column_order_2
        final_percentage_tables[error_metric] = pd.concat(dataframe_error, axis=1)[column_order]
    return error_tables['BASE'], final_percentage_tables

## PRISON DATASET

In [47]:
LEVELS_prison = ['Australia', 'State', 'Gender', 'Legal', 'Indigenous']
data_prison = 'prison'

### ARIMA

In [48]:
model_arima ='arima'
base_errors_prison_arima, percentages_prison_arima = get_results(data_prison, model_arima, LEVELS_prison)

In [49]:
base_errors_prison_arima

error_metric     MAE        MSE  SMAPE
Australia     505.96  424138.76   1.33
State         369.95  385049.52   7.93
Gender        187.61  148874.19  11.22
Legal         111.09   48125.76  17.65
Indigenous     59.63   18835.82  21.90
Overall       114.37   71339.16  18.27

In [50]:
percentages_prison_arima['MAE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [11]:
percentages_prison_arima['MSE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [12]:
percentages_prison_arima['SMAPE'].style.highlight_max(color = 'lightgreen', axis = 1)

### ETS

In [13]:
model_ets ='ets'
base_errors_prison_ets, percentages_prison_ets = get_results(data_prison, model_ets, LEVELS_prison)

In [14]:
base_errors_prison_ets

error_metric     MAE        MSE  SMAPE
Australia     296.41  114530.91   0.78
State         385.07  418994.30   8.91
Gender        182.35  143906.22  12.69
Legal         107.81   51455.20  18.46
Indigenous     57.19   15931.03  21.72
Overall       110.78   69711.88  18.64

In [15]:
percentages_prison_ets['MAE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [16]:
percentages_prison_ets['MSE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [17]:
percentages_prison_ets['SMAPE'].style.highlight_max(color = 'lightgreen', axis = 1)

## TOURISM DATASET

In [18]:
LEVELS_tourism = ['Australia', 'States', 'Regions']
data_tourism = 'tourism'

### ARIMA

In [19]:
model_arima ='arima'
base_errors_tourism_arima, percentages_tourism_arima = get_results(data_tourism, model_arima, LEVELS_tourism)

In [20]:
base_errors_tourism_arima

error_metric      MAE         MSE  SMAPE
Australia     2373.12  7695575.82   7.05
States         581.33   682870.53  16.33
Regions        101.65    29724.09  34.47
Overall        167.87   173699.11  32.66

In [21]:
percentages_tourism_arima['MAE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [22]:
percentages_tourism_arima['MSE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [23]:
percentages_tourism_arima['SMAPE'].style.highlight_max(color = 'lightgreen', axis = 1)

### ETS

In [24]:
model_ets ='ets'
base_errors_tourism_ets, percentages_tourism_ets = get_results(data_tourism, model_ets, LEVELS_tourism)

In [25]:
base_errors_tourism_ets

error_metric      MAE          MSE  SMAPE
Australia     3149.11  12915938.49   9.62
States         569.86    610351.60  13.32
Regions         91.50     23802.54  32.26
Overall        166.87    223778.77  30.44

In [26]:
percentages_tourism_ets['MAE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [27]:
percentages_tourism_ets['MSE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [28]:
percentages_tourism_ets['SMAPE'].style.highlight_max(color = 'lightgreen', axis = 1)

### Forecasts across seeds

In [31]:
data = 'prison'
model = 'ets'
path = '../results/validation_results_experiments/'

fc_seeds = pd.read_csv(f'{path}{data}_{model}_seed_runs.csv', index_col =0)

In [32]:
std_results = fc_seeds.groupby(fc_seeds.index).std()

In [33]:
std_results

,0,1,2,3,4,5,6,7
ACT-Female-Remanded-ATSI,2.369480,2.413365,2.372096,2.400927,2.586641,2.634543,2.596754,2.627631
ACT-Female-Remanded-Non-ATSI,1.606393,1.611455,1.552460,1.553457,1.686703,1.692010,1.636631,1.638402
ACT-Female-Sentenced-ATSI,1.728251,1.762741,1.751605,1.765333,1.883511,1.920292,1.908104,1.922641
ACT-Female-Sentenced-Non-ATSI,1.383259,1.423514,1.415436,1.432201,1.494423,1.537753,1.530201,1.548333
ACT-Male-Remanded-ATSI,1.468645,1.516005,1.482083,1.491256,1.631360,1.687992,1.650392,1.662732
...,...,...,...,...,...,...,...,...
WA-Female-Sentenced-Non-ATSI,2.197882,2.236175,2.146643,2.155461,2.397064,2.437066,2.350999,2.360602
WA-Male-Remanded-ATSI,1.978030,2.007106,1.993296,2.020706,2.194336,2.230870,2.220372,2.251134
WA-Male-Remanded-Non-ATSI,3.387002,3.428934,3.323050,3.334754,3.617367,3.655736,3.549880,3.563819
WA-Male-Sentenced-ATSI,12.342096,12.403200,11.969615,11.982837,13.104752,13.161222,12.741746,12.766034
WA-Male-Sentenced-Non-ATSI,11.294722,11.357783,10.937350,10.965101,12.057804,12.121569,11.718260,11.764399

In [34]:
std_results.to_csv(f'{path}{data}_{model}_std_results.csv')

### Comparing with previous parameters

In [44]:
LEVELS_tourism = ['Australia', 'States', 'Regions']
data_tourism = 'tourism'
model_ets ='arima'
base_errors_tourism_ets, percentages_tourism_ets = get_results(data_tourism, model_ets, LEVELS_tourism, True)

In [45]:
percentages_tourism_ets['MAE'].style.highlight_max(color = 'lightgreen', axis = 1)