# Results

In [1]:
import pandas as pd

In [2]:
RESULTS_PATH = '../results/errors/'

In [3]:
def get_error_table(data_frame, LEVELS):
    errors = data_frame.groupby(by=['error_metric', 'level']).mean().reset_index().round(2)
    errors = pd.pivot(errors, values ='error', columns='error_metric', index='level')
    errors.index = LEVELS
    overall_error = data_frame.groupby(by='error_metric').mean()[['error']].transpose()
    overall_error.index = ['Overall']
    return errors.append(overall_error).round(2)

In [4]:
def get_percentage_improvement(base_df, approach_df):
    return (base_df - approach_df)/base_df*100

In [5]:
def get_results(data, model, LEVELS):
    file_name = f'{data}_{model}'
    FC_TYPE = ['base', 'adjusted', 'hf_val_loss', 'bottomup', 'ols', 'wls', 'mintsample', 'mintshrink', 'erm']
    column_names = {
        'base': 'BASE',
        'adjusted': 'ML_REC_1', 
        'hf_val_loss': 'ML_REC_2',
        'bottomup': 'BU',
        'ols': 'OLS',
        'wls': 'WLS',
        'mintsample': 'MinT(Sample)',
        'mintshrink': 'MinT(Shrink)',
        'erm': 'ERM'
    }
    column_order_1 = ['BU', 'OLS', 'WLS', 'MinT(Shrink)', 'ERM', 'ML_REC_1', 'ML_REC_2']
    column_order_2 = ['BU', 'OLS', 'WLS', 'MinT(Sample)', 'MinT(Shrink)', 'ERM', 'ML_REC_1', 'ML_REC_2']
    error_dic = {}
    error_tables = {}
    error_percentages = {}
    final_percentage_tables = {}
    
    for fc_type in FC_TYPE:
        if data == 'prison' and fc_type =='mintsample':
            continue
        error_dic[column_names[fc_type]] = pd.read_csv(f'{RESULTS_PATH}{file_name}_{fc_type}_errors.csv', index_col=0)
        
    for fc_name, error_df in error_dic.items():
        error_tables[fc_name] = get_error_table(error_df, LEVELS)
        
    for fc_name, error_df in error_tables.items():
        error_percentages[fc_name] = get_percentage_improvement(error_tables['BASE'], error_df)
        
    for error_metric in ['MSE', 'MAE', 'SMAPE']:
        dataframe_error = []
        for fc_name, error_df in error_percentages.items():
            if fc_name =='BASE':
                continue
            error_metric_percentages = error_df[[error_metric]]
            error_metric_percentages.columns = [fc_name]
            dataframe_error.append(error_metric_percentages)
        if data == 'prison':
            column_order = column_order_1
        else:
            column_order = column_order_2
        final_percentage_tables[error_metric] = pd.concat(dataframe_error, axis=1)[column_order]
    return error_tables['BASE'], final_percentage_tables

## PRISON DATASET

In [6]:
LEVELS_prison = ['Australia', 'State', 'Gender', 'Legal', 'Indigenous']
data_prison = 'prison'

### ARIMA

In [7]:
model_arima ='arima'
base_errors_prison_arima, percentages_prison_arima = get_results(data_prison, model_arima, LEVELS_prison)

In [8]:
base_errors_prison_arima

error_metric     MAE        MSE  SMAPE
Australia     505.96  424138.76   1.33
State         369.95  385049.52   7.93
Gender        187.61  148874.19  11.22
Legal         111.09   48125.76  17.65
Indigenous     59.63   18835.82  21.90
Overall       114.37   71339.16  18.27

In [9]:
percentages_prison_arima['MAE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [10]:
percentages_prison_arima['MSE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [11]:
percentages_prison_arima['SMAPE'].style.highlight_max(color = 'lightgreen', axis = 1)

### ETS

In [12]:
model_ets ='ets'
base_errors_prison_ets, percentages_prison_ets = get_results(data_prison, model_ets, LEVELS_prison)

In [13]:
base_errors_prison_ets

error_metric     MAE        MSE  SMAPE
Australia     296.41  114530.91   0.78
State         385.07  418994.30   8.91
Gender        182.35  143906.22  12.69
Legal         107.81   51455.20  18.46
Indigenous     57.19   15931.03  21.72
Overall       110.78   69711.88  18.64

In [15]:
percentages_prison_ets['MAE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [16]:
percentages_prison_ets['MSE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [17]:
percentages_prison_ets['SMAPE'].style.highlight_max(color = 'lightgreen', axis = 1)

## TOURISM DATASET

In [18]:
LEVELS_tourism = ['Australia', 'States', 'Regions']
data_tourism = 'tourism'

### ARIMA

In [19]:
model_arima ='arima'
base_errors_tourism_arima, percentages_tourism_arima = get_results(data_tourism, model_arima, LEVELS_tourism)

In [20]:
base_errors_tourism_arima

error_metric      MAE         MSE  SMAPE
Australia     2373.12  7695575.82   7.05
States         581.33   682870.53  16.33
Regions        101.65    29724.09  34.47
Overall        167.87   173699.11  32.66

In [21]:
percentages_tourism_arima['MAE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [22]:
percentages_tourism_arima['MSE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [23]:
percentages_tourism_arima['SMAPE'].style.highlight_max(color = 'lightgreen', axis = 1)

### ETS

In [24]:
model_ets ='ets'
base_errors_tourism_ets, percentages_tourism_ets = get_results(data_tourism, model_ets, LEVELS_tourism)

In [25]:
base_errors_tourism_ets

error_metric      MAE          MSE  SMAPE
Australia     3149.11  12915938.49   9.62
States         569.86    610351.60  13.32
Regions         91.50     23802.54  32.26
Overall        166.87    223778.77  30.44

In [26]:
percentages_tourism_ets['MAE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [27]:
percentages_tourism_ets['MSE'].style.highlight_max(color = 'lightgreen', axis = 1)

In [28]:
percentages_tourism_ets['SMAPE'].style.highlight_max(color = 'lightgreen', axis = 1)